/*
  CSS File
*/
/*.grid-container{

}*/

body{
  overflow: hidden;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #372948;
  line-height: 1.6;
  background-color: #fff;
}

.header--banner{
  /*position: fixed;*/
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
}
/****** Container *******/
/*.container {
  background-color: #372948;
  padding: 0 2rem;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
*/
  /****** Hero *******/
  .hero{
    background-image: linear-gradient(
      rgba(0,0,0,0.5), 
      rgba(0,0,0,0.5)), 
      url(images/Assignment2_eventBillboard2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
  }
  
  .hero--flex--content{
    padding: 6rem 0 8rem 0;
    color: #ffffff;
    /*display: flex;*/
    
    
  }